.col-3 {
  flex: 0 0 auto;
  margin-right: 0px;
  margin-top: 0px;
  display: inline-block;
  justify-content: space-between;
  margin-bottom: 15px;
}

.name {
  font-weight: bold;
}

.image {
  height: 180px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

  .flat-card {
    width: 100%;
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.row {
 padding-right: 0px;
 padding-left: 0px;

}

.flex {
  display: flex;
}
.flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
